.section {
    display: flex;
    padding: auto;
    padding: 40px;
    width: 60%;
    margin-left: 500px;
}
.section .text {
    margin: 5px;
    font-size: 20px;
}
.section img {
    height: 250px;
    margin-left: 220;
    border-radius: 3em;
}
